<div *ngIf="isOpen" class="modal-overlay">
  <div class="modal-container">

    <div class="modal-header">
      <h2>Crear Ruta</h2>
      <button (click)="close.emit()">✕</button>
    </div>

    <div class="modal-body">
      <label>Nombre</label>
      <input type="text" [(ngModel)]="data.nombre">

      <label>Descripción</label>
      <textarea [(ngModel)]="data.descripcion"></textarea>

      <label>Zona</label>
      <select [(ngModel)]="data.zonaAsignada">
        <option>Zona Norte</option>
        <option>Zona Sur</option>
        <option>Zona Este</option>
        <option>Zona Oeste</option>
      </select>

      <label>Color</label>
      <input type="color" [(ngModel)]="data.color">
    </div>

    <div class="modal-footer">
      <button class="btn-cancel" (click)="close.emit()">Cancelar</button>
      <button class="btn-save" (click)="startDrawing()">Comenzar dibujo</button>
    </div>

  </div>
</div>
